:root{
  --alice: #f1f6fd;
  --flash: #edf0f3;
  --isabell: #edeeef;
  --pastel: #b5c0cc;
  --metal: #68727d;
  --auro: #69727e;
  --space: #1e242d;
}

@font-face {
  font-family: Circular;
  src: url(fonts/circular-book.otf);
}

body {
  font-family: circular, Helvetica, sans-serif;
}

*{
  outline: none;
}

body, html{
  margin: 0;
  height: 100%;
  font-size: 17px;
  color: var(--metal);
  font-family: Circular;
}

small{
  font-size: 11px;
}

.bitter{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.bitter nav{
  box-sizing: border-box;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-shadow: inset 0 -1px 0 0 var(--flash);
}

.bitter .app{
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.bitter .app .menu{
  box-sizing: border-box;
  padding: 16px 0;
  width: 250px;
  border-right: 1px solid var(--flash);
}
.bitter .app .menu .menu-item{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  cursor: pointer;
}
.bitter .app .menu .menu-item.active,
.bitter .app .menu .menu-item:hover{
  background: var(--isabell);
}
.bitter .app .menu .menu-item .menu-item-icon{
  width: 20px;
  height: 20px;
  border-radius: 4px;
  color: var(--auro);
  margin-right: 12px;
}
.bitter .app .menu .menu-item.active .menu-item-icon,
.bitter .app .menu .menu-item:hover .menu-item-icon
{
  color: var(--space);
}
.bitter .app .menu .menu-item .menu-item-text{
  font-size: 15px;
  color: var(--auro);
}
.bitter .app .menu .menu-item.active .menu-item-text,
.bitter .app .menu .menu-item:hover .menu-item-text{
  color: var(--space);
}
.bitter .app .menu .menu-header{
  margin-top: -16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 24px;
  box-shadow: inset 0 -1px 0 0 var(--flash);
}
.bitter .app .menu .menu-header.--small{
  height: 36px;
}
.bitter .app .menu .menu-header-title{
  font-size: 15px;
  line-height: 24px;
  color: var(--space);
  font-weight: 500;
}
.bitter .app .menu .menu-header-subtitle{
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: var(--pastel);
}

.bitter .app .section{
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  flex-direction: column;
}
.bitter .app .section .section-header{
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 32px;
  box-shadow: inset 0 -1px 0 0 var(--flash);
}
.bitter .app .section .section-header .section-header-title{
  font-weight: 500;
}
.bitter .app .section .section-body{
  display: flex;
}
.bitter .app .section .section-body .section-content{
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  padding: 32px;
  color: var(--space);
}
.bitter .app .section .section-body .section-sidebar{
  padding: 16px 0;
  box-sizing: border-box;
  padding-bottom: 16px;
  width: 200px;
  border-left: 1px solid var(--flash);
}
.bitter .app .section .section-body .section-sidebar .sidebar-header{
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 24px;
  box-shadow: inset 0 -1px 0 0 var(--flash);
}
.bitter .app .section .section-body .section-sidebar .sidebar-header.--small{
  height: 36px;
}
.bitter .app .section .section-body .section-sidebar .sidebar-header-title{
  font-size: 15px;
  line-height: 24px;
  color: var(--space);
  font-weight: 500;
}
.bitter .app .section .section-body .section-sidebar .sidebar-header-subtitle{
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: var(--pastel);
}
.bitter .app .section .section-body .section-sidebar .sidebar-item{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  cursor: pointer;
}
.bitter .app .section .section-body .section-sidebar .sidebar-item.active,
.bitter .app .section .section-body .section-sidebar .sidebar-item:hover{
  background: var(--isabell);
}
.bitter .app .section .section-body .section-sidebar .sidebar-item .sidebar-item-icon{
  width: 20px;
  height: 20px;
  border-radius: 4px;
  color: var(--auro);
  margin-right: 12px;
}
.bitter .app .section .section-body .section-sidebar .sidebar-item.active .sidebar-item-icon,
.bitter .app .section .section-body .section-sidebar .sidebar-item:hover .sidebar-item-icon
{
  color: var(--space);
}
.bitter .app .section .section-body .section-sidebar .sidebar-item .sidebar-item-text{
  font-size: 15px;
  color: var(--auro);
}
.bitter .app .section .section-body .section-sidebar .sidebar-item.active .sidebar-item-text,
.bitter .app .section .section-body .section-sidebar .sidebar-item:hover .sidebar-item-text{
  color: var(--space);
}


.bitter .app .sidebar{
  box-sizing: border-box;
  padding-bottom: 16px;
  width: 300px;
  border-right: 1px solid var(--flash);
}
.bitter .app .sidebar .sidebar-header{
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 24px;
  box-shadow: inset 0 -1px 0 0 var(--flash);
}
.bitter .app .sidebar .sidebar-header.--small{
  height: 36px;
}
.bitter .app .sidebar .sidebar-header-title{
  font-size: 15px;
  line-height: 24px;
  color: var(--space);
  font-weight: 500;
}
.bitter .app .sidebar .sidebar-header-subtitle{
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: var(--pastel);
}


.bitter .icon{
  height: 20px;
  width: 20px;
  padding: 0 4px;
}
.bitter .icon.--small{
  height: 16px;
  width: 16px;
  color: var(--auro);
  padding: 0 4px;
}
.bitter .icon.--tiny{
  height: 11px;
  width: 11px;
  margin-bottom: -2px;
  color: inherit;
  padding: 0;
}
.bitter .icon.--shrink{
  padding: 0;
}
.bitter .group{
  display: flex;
  flex-direction: column;
}
.bitter .group.--row{
  align-items: center;
  flex-direction: row;
}
.bitter .group.--space{
  padding-right: 8px;
}
.bitter .group.--reserve{
  padding-right: 24px;
}
.bitter .--ghost{
  color: var(--pastel);
}
.bitter .--bold{
  font-weight: 500;
}

.bitter .card{
  font-size: 15px;
  line-height: 24px;
  box-sizing: border-box;
  padding: 18px 16px 16px;
  box-shadow: inset 0 -1px 0 0 var(--flash);
  color: var(--space);
  cursor: pointer;
}
.bitter .card.active,
.bitter .card:hover{
  cursor: pointer;
  background: var(--alice);
}
.bitter .card .card-header{
  box-sizing: border-box;
  height: 24px;
  line-height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--auro);
}
.bitter .card .card-footer{
  box-sizing: border-box;
  height: 24px;
  line-height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--pastel);
}
.bitter .card .card-body .card-body-title{
  font-size: 16px;
}
.bitter .card .card-body .card-body-text{
  color: var(--metal);
}
